Note - This is just for testing purposes

In [ ]:
#import modules
import pandas as pd
import numpy as np

In [4]:
# Load the data 
data=pd.read_csv('C:/Users/aditya/Desktop/2023/Deep Learning/ANN_PROJECT_2/Data/AP001.csv')
data.dropna(inplace=True)
data.head()

,From Date,To Date,PM2.5 (ug/m3),PM10 (ug/m3),NO (ug/m3),NO2 (ug/m3),NOx (ppb),NH3 (ug/m3),SO2 (ug/m3),CO (mg/m3),...,Temp (degree C),RH (%),WS (m/s),WD (deg),SR (W/mt2),BP (mmHg),VWS (m/s),Xylene (ug/m3),RF (mm),AT (degree C)
5482,2017-02-14 20:00:00,2017-02-14 21:00:00,39.25,65.50,19.45,97.28,67.55,9.75,3.73,0.47,...,32.52,80.75,2.03,290.00,6.75,925.25,-0.03,1.00,0.0,18.40
7405,2017-05-05 23:00:00,2017-05-06 00:00:00,16.00,56.00,1.27,27.27,15.57,7.00,5.13,0.22,...,32.47,75.00,1.07,102.67,7.00,1050.00,0.00,0.00,0.0,23.60
21009,2018-11-23 19:00:00,2018-11-23 20:00:00,45.50,68.25,5.97,31.43,21.57,24.85,4.65,0.67,...,47.12,88.67,2.32,119.25,3.00,897.00,-0.10,0.23,0.0,18.65
21158,2018-11-30 00:00:00,2018-11-30 01:00:00,39.75,67.50,28.62,54.45,52.23,24.62,4.47,0.87,...,46.50,88.50,1.18,38.00,3.00,756.00,-0.03,0.20,0.0,17.50
22836,2019-02-07 22:00:00,2019-02-07 23:00:00,67.50,107.25,4.90,41.15,25.90,17.05,2.62,0.52,...,30.33,87.00,0.72,181.00,2.00,740.00,0.00,0.18,0.0,19.20

In [6]:
data.columns

Index(['From Date', 'To Date', 'PM2.5 (ug/m3)', 'PM10 (ug/m3)', 'NO (ug/m3)',
       'NO2 (ug/m3)', 'NOx (ppb)', 'NH3 (ug/m3)', 'SO2 (ug/m3)', 'CO (mg/m3)',
       'Ozone (ug/m3)', 'Benzene (ug/m3)', 'Toluene (ug/m3)',
       'Temp (degree C)', 'RH (%)', 'WS (m/s)', 'WD (deg)', 'SR (W/mt2)',
       'BP (mmHg)', 'VWS (m/s)', 'Xylene (ug/m3)', 'RF (mm)', 'AT (degree C)'],
      dtype='object')